{% extends 'zomboid_blog/layout.html' %}
{% block title %}{{ blogpost.title }} | Zomboid Blog{% endblock title %}
{% block content %}
{% partialdef partial inline %}
<div class="px-8 py-4 bg-gray-700 rounded border border-gray-600">
    <div class="">
        <h3 class="text-xl font-semibold tracking-wide md:text-2xl">{{ blogpost.title }}</h2>
        {% if blogpost.subtitle %}<h4 class="text-lg text-gray-400 md:text-xl">{{ blogpost.subtitle }}</h4>{% endif %}
        <p>By {{ blogpost.author.name }}</p>
    </div>
    <p class="mt-4 text-pretty">{{ blogpost.content }}</p>
</div>
{% endpartialdef partial %}
{% endblock content %}