{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'zomboid_blog/css/output.css' %}">
    <script src="{% static 'zomboid_blog/js/htmx.min.js' %}" defer></script>
</head>
<body class="bg-gray-700 px-8 h-dvh text-gray-200 md:px-16">
    <main class="px-8 py-8 h-full bg-gray-900 border-gray-800 border-r-2 border-l-2">
        <a href="/" class="flex py-2 gap-2 items-center">
            <img class="size-24" src="{% static 'zomboid_blog/img/Mood_Hungover.png' %}"/>
            <h2 class="font-bold text-gray-100 text-2xl md:text-4xl">Twiggy's Blog</h2>
        </a>
        <div class="py-4 px-2 md:py-8 md:px-4">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>
</html>